name: GitHub Readme YouTube Cards

on:
  schedule:
    # Runs at 08:00 UTC on the 1st of every month
    - cron: '0 8 1 * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: UCn4L33g7GzUz5f4yA6vWYfw
          comment_tag_name: YOUTUBE-CARDS
          youtube_api_key: ${{ secrets.YOUTUBE_API_KEY }}
          show_duration: true
